/.venv
/.env

!/data/.gitkeep

/data/raw_tweets/*
!/data/raw_tweets/.gitkeep

/data/cleaned/*
!/data/cleaned/.gitkeep

/data/results/*
!/data/results/.gitkeep

/data/visual_results/*
!/data/visual_results/.gitkeep

/scripts/_pycache_/
